{% extends "base.html" %}{% block title %}single blog{% endblock title %}{% block content %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="left-sidebar">
              <h2>Category</h2>
              <div class="panel-group category-products" id="accordian">
                <!--category-productsr-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordian"
                        href="#sportswear"
                      >
                        <span class="badge pull-right"
                          ><i class="fa fa-plus"></i
                        ></span>
                        Sportswear
                      </a>
                    </h4>
                  </div>
                  <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        <li><a href="">Nike </a></li>
                        <li><a href="">Under Armour </a></li>
                        <li><a href="">Adidas </a></li>
                        <li><a href="">Puma</a></li>
                        <li><a href="">ASICS </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordian"
                        href="#mens"
                      >
                        <span class="badge pull-right"
                          ><i class="fa fa-plus"></i
                        ></span>
                        Mens
                      </a>
                    </h4>
                  </div>
                  <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        <li><a href="">Fendi</a></li>
                        <li><a href="">Guess</a></li>
                        <li><a href="">Valentino</a></li>
                        <li><a href="">Dior</a></li>
                        <li><a href="">Versace</a></li>
                        <li><a href="">Armani</a></li>
                        <li><a href="">Prada</a></li>
                        <li><a href="">Dolce and Gabbana</a></li>
                        <li><a href="">Chanel</a></li>
                        <li><a href="">Gucci</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordian"
                        href="#womens"
                      >
                        <span class="badge pull-right"
                          ><i class="fa fa-plus"></i
                        ></span>
                        Womens
                      </a>
                    </h4>
                  </div>
                  <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        <li><a href="">Fendi</a></li>
                        <li><a href="">Guess</a></li>
                        <li><a href="">Valentino</a></li>
                        <li><a href="">Dior</a></li>
                        <li><a href="">Versace</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Kids</a></h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Fashion</a></h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Households</a></h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Interiors</a></h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Clothing</a></h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Bags</a></h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Shoes</a></h4>
                  </div>
                </div>
              </div>
              <!--/category-products-->

              <div class="brands_products">
                <!--brands_products-->
                <h2>Brands</h2>
                <div class="brands-name">
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href=""> <span class="pull-right">(50)</span>Acne</a>
                    </li>
                    <li>
                      <a href="">
                        <span class="pull-right">(56)</span>Grüne Erde</a
                      >
                    </li>
                    <li>
                      <a href=""> <span class="pull-right">(27)</span>Albiro</a>
                    </li>
                    <li>
                      <a href="">
                        <span class="pull-right">(32)</span>Ronhill</a
                      >
                    </li>
                    <li>
                      <a href="">
                        <span class="pull-right">(5)</span>Oddmolly</a
                      >
                    </li>
                    <li>
                      <a href="">
                        <span class="pull-right">(9)</span>Boudestijn</a
                      >
                    </li>
                    <li>
                      <a href="">
                        <span class="pull-right">(4)</span>Rösch creative
                        culture</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <!--/brands_products-->

              <div class="price-range">
                <!--price-range-->
                <h2>Price Range</h2>
                <div class="well">
                  <input
                    type="text"
                    class="span2"
                    value=""
                    data-slider-min="0"
                    data-slider-max="600"
                    data-slider-step="5"
                    data-slider-value="[250,450]"
                    id="sl2"
                  /><br />
                  <b>$ 0</b> <b class="pull-right">$ 600</b>
                </div>
              </div>
              <!--/price-range-->

              <div class="shipping text-center">
                <!--shipping-->
                <img src="/static/imgs/home/shipping.jpg" alt="" />
              </div>
              <!--/shipping-->
            </div>
          </div>
          <div class="col-sm-9">
            <div class="blog-post-area">
              <h2 class="title text-center">Latest From our Blog</h2>
              <div class="single-blog-post">
                <h3>{{blog['name']}}</h3>
                <div class="post-meta">
                  <ul>
                    <li><i class="fa fa-user"></i> {{blog['user_name']}}</li>
                    <li><i class="fa fa-clock-o"></i> {{blog['time']}}</li>
                    <li><i class="fa fa-calendar"></i> {{blog['date']}}</li>
                  </ul>
                  <span>
                  {% for i in range(blog['rate']) %}
                    {% if i == 0 or i == 1 or i == 2 or i == 3 or i == 4 or i == 5 %}
                    <i class="fa fa-star"></i>
                    {% else %}
                    <i class="fa fa-star-half-o"></i>
                    {% endif %}
                  {% endfor %}
                  </span>
                </div>
                <a href="">
                  <img src="/static/imgs/blog/blog-one.jpg" alt="" />
                </a>
                <p>
                  {{blog['content']}}
                </p>
                <div class="pager-area">
                  <ul class="pager pull-right">
                    <li><a href="#">Pre</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--/blog-post-area-->

            <div class="rating-area">
              <ul class="ratings">
                <li class="rate-this">Rate this item:</li>
                <li>
                  <i class="fa fa-star color"></i>
                  <i class="fa fa-star color"></i>
                  <i class="fa fa-star color"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </li>
                <li class="color">(6 votes)</li>
              </ul>
              <ul class="tag">
                <li>TAG:</li>
                {% for tag in tags %}
                <li>
                  <a class="color" href="">{{tag}} <span>/</span></a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!--/rating-area-->

            <div class="socials-share">
              <a href=""><img src="/static/imgs/blog/socials.png" alt="" /></a>
            </div>
            <!--Comments-->
            <div class="response-area">
              <h2>{{comments_count}} Comments</h2>
              <ul class="media-list">

              {% for comment in comments  %}
                <li class="media">
                  <a class="pull-left" href="#">
                    <img
                      class="media-object"
                      src="/static/imgs/blog/man-two.jpg"
                      alt=""
                    />
                  </a>
                  <div class="media-body">
                    <ul class="sinlge-post-meta">
                      <li><i class="fa fa-user"></i>{{comment['user_name']}}</li>
                      <li><i class="fa fa-clock-o"></i> {{comment['time']}}</li>
                      <li><i class="fa fa-calendar"></i> {{comment['date']}}</li>
                    </ul>
                    <p>
                      {{comment['comment']}}
                    </p>
                    <a class="btn btn-primary" href=""
                      ><i class="fa fa-reply"></i>Replay</a
                    >
                  </div>
                </li>
              {% endfor %}

              </ul>
            </div>
            <!--/Response-area-->
              <form action="#" method="post">
                <div class="replay-box">
                  <div class="row">
                    <div class="col-sm-4">
                      <h2>Leave a replay</h2>
                    </div>
                      <div class="text-area">
                        <div class="blank-arrow">
                          <label>Write Your Comment</label>
                        </div>
                        <span>*</span>
                        <textarea name="comment" blackholder="Comment" rows="11"></textarea>
                        <button type="submit" class="btn btn-primary">Post Comment</button>

                      </div>
                    </div>
                  </div>
                  </div>
              </form>


              <form action="#" method="post">
                <input
                  type="email"
                  placeholder="Email Address"
                  name="l-email"
                />
                <input
                  type="password"
                  placeholder="password"
                  name="l-password"
                />
                <span>
                  <input type="checkbox" class="checkbox" />
                  Keep me signed in
                </span>
                <button type="submit" class="btn btn-default">Login</button>
              </form>


            <!--/Repaly Box-->
          </div>
        </div>
      </div>
    </section>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/price-range.js"></script>
    <script src="/static/js/jquery.scrollUp.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>

{% endblock content %}